/* Write your CSS here */

.appointments-data {
  list-style-type: none;
  width: 195px;
  border: 1px solid#b5b7c4;
  padding: 8px 8px 25px 8px;
  border-radius: 8px;
  height: 70px;
  margin: 5px;
}

.appointment-title {
  color: #171f46;
  font-size: 10px;
  padding-bottom: 0px;
  font-weight: bold;
}

.date-data {
  color: #b5b7c4;
  font-size: 9px;
  font-weight: bold;
}

.star-btn {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
  padding-bottom: 0px;
  cursor: pointer;
}
.star-img {
  width: 16px;
  height: 16px;
  padding-bottom: 0px;
}

@media (width < 769px) {
  .star-img {
    width: 14px;
    height: 14px;
  }
  .date-data {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .appointments-data {
    width: 280px;
  }
}
